services:
  db:
    image: postgres:15-alpine
    container_name: rdv-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./k8s/sql:/docker-entrypoint-initdb.d:ro
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U masterpiece -d rdv_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend-net
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 512M

  fastapi-backend:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    container_name: rdv-fastapi-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-net
      - frontend-net
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 256M

volumes:
  pgdata:

networks:
  backend-net:
    driver: bridge
    internal: true
  frontend-net:
    driver: bridge
    name: rdv-frontend-net